<section id="home" class="main-hero-area">
    <!--    <div class="video-bg">-->
    <!--        <video src="assets/videos/video1.mp4" muted loop autoplay></video>-->
    <!--    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-content wow fadeInUp text-center delay-0-2s">
                    <h2>Noah <span class="firstname">TOFFA</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 pt-30">
                <div class="d-flex flex-column">
                    <div class="hero-content wow fadeInUp delay-0-2s">
                        <span class="nido">
                            BUILDING SYSTEMS. <br> NOT JUST APPS.
                        </span>
                    </div>

                    <div class="hero-content wow fadeInUp delay-0-2s">
                        <a class="theme-btn cv" href="assets/cv_noah_toffa_fr.pdf">Get my CV</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="hero-image"><img src="../../../assets/images/about/me_nb.png" alt=""></div>
            </div>
            <div class="col-lg-3">
                <div class="hero-content wow fadeInUp delay-0-4s story">
                    <p> <span class="iam">i am</span> <span class="title">Software Engineer</span> <br>
                        AI-driven. Performance-focused. Designing intelligent systems and user experiences.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="scroll-container scroll-1">
            <div class="text-row">
                <div class="infinite-scroll">
                    <div class="text-scroll">
                        <ng-container *ngFor="let item of items">
                            <span class="text-item">{{ item }}</span>
                            <span class="star">★</span>
                        </ng-container>
                    </div>
                    <div class="text-scroll">
                        <ng-container *ngFor="let item of items">
                            <span class="text-item">{{ item }}</span>
                            <span class="star">★</span>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="scroll-container scroll-2">-->
<!--            <div class="text-row">-->
<!--                <div class="infinite-scroll">-->
<!--                    <div class="text-scroll">-->
<!--                        <ng-container *ngFor="let item of items">-->
<!--                            <span class="text-item">{{ item }}</span>-->
<!--                            <span class="star">★</span>-->
<!--                        </ng-container>-->
<!--                    </div>-->
<!--                    <div class="text-scroll">-->
<!--                        <ng-container *ngFor="let item of items">-->
<!--                            <span class="text-item">{{ item }}</span>-->
<!--                            <span class="star">★</span>-->
<!--                        </ng-container>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    </div>
</section>

<div class="m24-c-transition m24-t-top-dark-alt m24-t-bottom-light">
    <hr>
</div>