<header class="main-header">
    <div class="header-upper">
        <div class="container">
            <div class="header-inner">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6 col-sm-3">
                        <div class="logo-area">
                            <div class="logo"><a href="index.html"><img src="assets/images/logo.webp" alt="logo"
                            width="60" height="24"></a></div>
                        </div>
                    </div>
                    <div
                        class="col-xl-10 col-lg-10 col-md-6 col-6 col-sm-9 d-flex justify-content-end align-items-center">
                        <div class="main-menu mr-3"></div>
                        <div class="lang-switcher">
                            <button class="btn btn-sm btn-outline-light" (click)="switchLanguage('fr')"
                                [class.active]="translate.currentLang === 'fr'">FR</button>
                            <span class="text-white mx-1">|</span>
                            <button class="btn btn-sm btn-outline-light" (click)="switchLanguage('en')"
                                [class.active]="translate.currentLang === 'en'">EN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>