<header class="main-header">
    <div class="header-upper">
        <div class="container">
            <div class="header-inner">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6 col-sm-3">
                        <div class="logo-area">
                            <div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt=""></a></div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-6 col-6 col-sm-9">
                        <div class="main-menu">
                        </div>
                        <div class="side-menu-icon d-lg-none text-end"><a href="javascript:void(0)"  class="info-toggle-btn f-right sidebar-toggle-btn"><i class="fal fa-bars"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
