/*
* ----------------------------------------------------------------------------------------
* 03.MENU CSS STYLE
* ----------------------------------------------------------------------------------------
*/


.header-inner {
    padding: 15px 0px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.main-header .header-upper {
    z-index: 5;
    width: 100%;
    position: fixed;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo img {
    width: 60px;
}

.main-menu {
    text-align: right;
}

.main-menu ul li {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.main-menu ul li:last-child {
    margin-right: 0;
}

.main-menu ul li.has-dropdown>a {
    padding-right: 14px;
}

.main-menu ul li.has-dropdown>a:after {
    position: absolute;
    content: "\f107";
    right: -4px;
    top: 10px;
    font-size: 16px;
    color: var(--main-color);
    font-family: "Font Awesome 6 Pro";
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.main-menu ul li .sub-menu li.has-dropdown>a:after {
    right: 15px;
    top: 6px;
}

.main-menu ul li a {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    padding: 10px 0px;
    display: inline-block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-transform: uppercase;
    color: var(--heading-color);
}

.main-menu ul li .active {
    color: var(--primary-color);
}

.main-menu ul li:hover>a {
    color: var(--main-color);
}

.main-menu ul li:hover>a:after {
    color: var(--main-color);
}

.main-menu ul li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 100%;
}

.main-menu ul li .sub-menu {
    margin-top: 10px;
    position: absolute;
    right: 0;
    top: 110%;
    min-width: 180px;
    background-color: var(--black-color);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    z-index: 99;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 20px 0px 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-top: 2px solid #000;
}

.main-menu ul li .sub-menu li {
    margin: 0;
    padding: 0;
    display: inline;
    position: relative;
    width: 100%;
    display: block;
}

.main-menu ul li .sub-menu li a {

    display: block;
    padding: 5px 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    transition: 0.3s;
    text-transform: uppercase;
    color: var(--heading-color);
}

.main-menu ul li .sub-menu li .active {
    color: var(--primary-color);
}

.main-menu ul li .sub-menu li:hover>a {
    color: var(--primary-color);
}

.main-menu ul li .sub-menu li>.sub-menu {
    right: 120%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.main-menu ul li .sub-menu li:hover>.sub-menu {
    right: 100%;
    left: auto;
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


.lang-switcher {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}