<div class="company-design-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="company-list">
                    <div class="scroller" data-direction="left" data-speed="slow">
                        <div class="scroller__inner"><img src="assets/images/client-logos/partner1.png" alt="Company">
                            <img src="assets/images/client-logos/partner2.png" alt="Company">
                            <img src="assets/images/client-logos/partner3.png" alt="Company">
                            <img src="assets/images/client-logos/partner4.png" alt="Company">
                            <img src="assets/images/client-logos/partner5.png" alt="Company">
                            <img src="assets/images/client-logos/partner1.png" alt="Company">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>