<div class="projects-area" id="portfolio">
    <div class="custom-icon"><img src="assets/images/custom/work-scribble.svg" alt="custom"></div>
    <div class="container-fluid">
        <div class="row g-4 portfolio-grid">
            <div class="col-md-6 col-xl-6 portfolio-item category-1"><a href="assets/images/projects/work1.jpg" class="work-popup">
                <div class="portfolio-box"><img src="assets/images/projects/work1.jpg" alt="" data-rjs="2"><span
                        class="portfolio-category">Branding</span>
                    <div class="portfolio-caption"><h1>Glasses of Cocktail</h1></div>
                </div>
            </a></div>
            <div class="col-md-6 col-xl-6 portfolio-item category-2"><a href="single-project.html">
                <div class="portfolio-box">
                    <img src="assets/images/projects/work2.jpg" alt="" data-rjs="2"><span class="portfolio-category">Mockup</span>
                    <div class="portfolio-caption"><h1>A Branch with Flowers</h1></div>
                </div>
            </a></div>
            <div class="col-md-6 col-xl-4 portfolio-item category-2"><a href="https://www.youtube.com/watch?v=qZEPs3vmYB4" class="popup-youtube">
                <div class="portfolio-box"><img src="assets/images/projects/work3.jpg" alt="" data-rjs="2"><span class="portfolio-category">Video</span>
                    <div class="portfolio-caption"><h1>Orange Rose Flower</h1></div>
                </div>
            </a></div>
            <div class="col-md-6 col-xl-4 portfolio-item category-1"><a href="assets/images/projects/work4.jpg"
                                                                        class="work-popup">
                <div class="portfolio-box"><img src="assets/images/projects/work4.jpg" alt="" data-rjs="2"><span
                        class="portfolio-category">Branding</span>
                    <div class="portfolio-caption"><h1>Green Plant on a Desk</h1></div>
                </div>
            </a></div>
            <div class="col-md-6 col-xl-4 portfolio-item category-2"><a href="assets/images/projects/work5.jpg"
                                                                        class="work-popup">
                <div class="portfolio-box"><img src="assets/images/projects/work5.jpg" alt="" data-rjs="2"><span
                        class="portfolio-category">Mockup</span>
                    <div class="portfolio-caption"><h1>Orange Rose Flower</h1></div>
                </div>
            </a></div>
        </div>
    </div>
</div>