<section class="testimonials-area" id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="section-title section-black-title wow fadeInUp delay-0-2s" #testiTitle>
                    <h2>Testinomials</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="testi-glow-wrap wow fadeInUp delay-0-2s">
                    <div class="testimonial-item" #testiItem>
                        <div class="author"><img src="assets/images/testimonials/author1.jpg" alt="Author"></div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        </div>
                        <div class="testi-des">
                            <h5>Zonathon Doe</h5><span>CEO &amp; Founder X</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="testi-glow-wrap wow fadeInUp delay-0-4s">
                    <div class="testimonial-item" #testiItem>
                        <div class="author"><img src="assets/images/testimonials/author2.jpg" alt="Author"></div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        </div>
                        <div class="testi-des">
                            <h5>Martin Smith</h5><span>CEO &amp; Founder Google</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="testi-glow-wrap wow fadeInUp delay-0-6s">
                    <div class="testimonial-item" #testiItem>
                        <div class="author"><img src="assets/images/testimonials/author3.jpg" alt="Author"></div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        </div>
                        <div class="testi-des">
                            <h5>Methail Dev</h5><span>Managing Director - Paydesk</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="testi-glow-wrap wow fadeInUp delay-0-8s">
                    <div class="testimonial-item" #testiItem>
                        <div class="author"><img src="assets/images/testimonials/author4.jpg" alt="Author"></div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        </div>
                        <div class="testi-des">
                            <h5>Eliana tweet</h5><span>CEO &amp; Founder Tesla</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="testi-glow-wrap wow fadeInUp delay-0-9s">
                    <div class="testimonial-item" #testiItem>
                        <div class="author"><img src="assets/images/testimonials/author5.jpg" alt="Author"></div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        </div>
                        <div class="testi-des">
                            <h5>Henry Clark</h5><span>Founder Oxyzen</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>