<section class="testimonials-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="section-title section-black-title wow fadeInUp delay-0-2s" #testiTitle>
                    <h2>Testinomials</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="testimonial-item wow fadeInUp delay-0-2s" #testiItem>
                    <div class="author"><img src="assets/images/testimonials/author1.jpg" alt="Author"></div>
                    <div class="text">Financial planners help people to knowledge in about how to invest and in save
                        their moneye the most efficient way eve plan ners help people tioniio know ledige in about how.
                    </div>
                    <div class="testi-des">
                        <h5>Zonathon Doe</h5><span>CEO &amp; Founder X</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="testimonial-item wow fadeInUp delay-0-4s" #testiItem>
                    <div class="author"><img src="assets/images/testimonials/author2.jpg" alt="Author"></div>
                    <div class="text">Asian planners help people to knowledge in about how to invest and in save their
                        moneye the most efficient way eve plan ners help people tioniio know ledige in about how.
                    </div>
                    <div class="testi-des">
                        <h5>Martin Smith</h5><span>CEO &amp; Founder Google</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="testimonial-item wow fadeInUp delay-0-6s" #testiItem>
                    <div class="author"><img src="assets/images/testimonials/author3.jpg" alt="Author"></div>
                    <div class="text">Hello planners help people to knowledge in about how to invest and in save their
                        moneye the most efficient way eve plan ners help people tioniio know ledige in about how.
                    </div>
                    <div class="testi-des">
                        <h5>Methail Dev</h5><span>Managing Director - Paydesk</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="testimonial-item wow fadeInUp delay-0-8s" #testiItem>
                    <div class="author"><img src="assets/images/testimonials/author4.jpg" alt="Author"></div>
                    <div class="text">Financial planners help people to knowledge in about how to invest and in save
                        their moneye the most efficient way eve plan ners help people tioniio know ledige in about how.
                    </div>
                    <div class="testi-des">
                        <h5>Eliana tweet</h5><span>CEO &amp; Founder Tesla</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="testimonial-item wow fadeInUp delay-0-9s" #testiItem>
                    <div class="author"><img src="assets/images/testimonials/author5.jpg" alt="Author"></div>
                    <div class="text">Yelp planners help people to knowledge in about how to invest and in save their
                        moneye the most efficient way eve plan ners help people tioniio know ledige in about how.
                    </div>
                    <div class="testi-des">
                        <h5>Henry Clark</h5><span>Founder Oxyzen</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>