<section class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="section-title wow fadeInUp delay-0-2s"><h2>Stories</h2></div>
            </div>
        </div>
        <div class="row blog-post-box align-items-center">
            <div class="col-lg-6">
                <div class="blog-post-img"><a href="index.html#"><img src="assets/images/blog/blog1.jpg" alt=""></a>
                    <div class="blog-post-category"><a href="index.html#">Help</a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-post-caption"><h3>Posted on Aug 28</h3>
                    <h2><a class="link-decoration" href="index.html#">Create a Landing Page That Performs Great</a></h2>
                    <a class="theme-btn theme-btn-two" href="index.html#">Read more<i
                            class="ri-arrow-right-line"></i></a></div>
            </div>
        </div>
        <div class="row blog-post-box align-items-center">
            <div class="col-lg-6">
                <div class="blog-post-img"><a href="index.html#"><img src="assets/images/blog/blog2.jpg" alt=""></a>
                    <div class="blog-post-category"><a href="index.html#">Branding</a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-post-caption"><h3>Posted on Aug 28</h3>
                    <h2><a class="link-decoration" href="index.html#">Starting and Growing a Career in Web Design</a>
                    </h2><a class="theme-btn theme-btn-two" href="index.html#">Read more<i
                            class="ri-arrow-right-line"></i></a></div>
            </div>
        </div>
        <div class="row blog-post-box align-items-center">
            <div class="col-lg-6">
                <div class="blog-post-img"><a href="index.html#"><img src="assets/images/blog/blog3.jpg" alt=""></a>
                    <div class="blog-post-category"><a href="index.html#">Design</a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-post-caption"><h3>Posted on Aug 28</h3>
                    <h2><a class="link-decoration" href="index.html#">How Can Designers Prepare for the Future?</a></h2>
                    <a class="theme-btn theme-btn-two" href="index.html#">Read more<i
                            class="ri-arrow-right-line"></i></a></div>
            </div>
        </div>
    </div>
</section>
