<section class="about-area" id="about">
    <div class="about-div">
        <div style="display:flex;flex-wrap:wrap;">
            <div class="some-word1" #aboutTitle>
                <h6>About Me</h6>
                <h2 data-text="Digital">
                    DEVELOP, OPTIMIZE, INNOVATE.
                    <span>Digital</span>
                </h2>
            </div>
            <div class="some-word2" #aboutSub>
                <h4>Innovation and technologies for efficiency.</h4>
            </div>
            <div class="story" #aboutStory>
                <p>I am <strong>Noah TOFFA</strong>, a software engineering student passionate about innovation and the
                    impact of new technologies on our society. My expertise spans data analysis, artificial
                    intelligence, backend development, and system optimization.</p>
                <p>A strong advocate of open-source environments like Arch Linux, I specialize in backend development
                    with Python &amp; FastAPI, automation through Bash, and custom UI setups using bspwm, Polybar, and
                    Eww.</p>
            </div>
        </div>
    </div>
</section>