<section class="about-area" id="about">
    <div class="about-div">
        <div style="display:flex;flex-wrap:wrap;">
            <div class="some-word1" #aboutTitle>
                <h6>{{ 'about.title' | translate }}</h6>
                <h2 data-text="Digital">
                    {{ 'about.heading' | translate }}
                    <span>Digital</span>
                </h2>
            </div>
            <div class="some-word2" #aboutSub>
                <h4>{{ 'about.subheading' | translate }}</h4>
            </div>
            <div class="story" #aboutStory>
                <p>{{ 'about.iam' | translate }} <strong>{{ 'about.name' | translate }}</strong>{{ 'about.paragraph1' |
                    translate }}</p>
                <p>{{ 'about.paragraph2' | translate }}</p>
            </div>
        </div>
    </div>
</section>