<app-cusor></app-cusor>

<app-header></app-header>

<app-hero></app-hero>

<app-about></app-about>

<app-services></app-services>

<app-portfolio></app-portfolio>

<app-testimonials></app-testimonials>

<app-blog></app-blog>




<app-contact></app-contact>

<app-company></app-company>

<app-footer></app-footer>


<!--<div class="sidebar__area">-->
<!--    <div class="sidebar__wrapper">-->
<!--        <div class="sidebar__close">-->
<!--            <button class="sidebar__close-btn" id="sidebar__close-btn"><i class="fal fa-times"></i></button>-->
<!--        </div>-->
<!--        <div class="sidebar__content mt-50 mb-20">-->
<!--            <div class="mobile-menu fix"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->





